<div class="container mt-3">
    <div class="card" id="menuCard">
        <div class="card-body">
            <ul class="nav nav-pills responsive">
                <li class="nav-item">
                    <a class="nav-link nav-menu" href="{{ SITEURL }}/"
                        >Inicio</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link nav-menu"
                        href="{{ SITEURL }}/abogados-registrados/"
                        >Abogados Registrados</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link nav-menu"
                        href="{{ SITEURL }}/agenda-actuarial-laboral/"
                        >Agenda Actuarial Laboral</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link nav-menu"
                        href="{{ SITEURL }}/articulos/acuerdos/"
                        >Acuerdos del Consejo y del Pleno</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link nav-menu"
                        href="{{ SITEURL }}/agenda-audiencias/"
                        >Agenda de Audiencias</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link nav-menu"
                        href="{{ SITEURL }}/articulos/comunicados-noticias/"
                        >Comunicados, Noticias y Entrevistas</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-menu" href="{{ SITEURL }}/edictos/"
                        >Edictos</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-menu" href="{{ SITEURL }}/glosas/"
                        >Glosas</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link nav-menu"
                        href="{{ SITEURL }}/listas-de-acuerdos/"
                        >Listas de Acuerdos</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-menu" href="{{ SITEURL }}/peritos/"
                        >Peritos</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-menu" href="{{ SITEURL }}/redam/"
                        >REDAM</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-menu" href="{{ SITEURL }}/repsvm/"
                        >REPSVM</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link nav-menu"
                        href="{{ SITEURL }}/tesis-jurisprudencias/"
                        >Tesis y Jurisprudencias</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link nav-menu"
                        href="{{ SITEURL }}/articulos/transmisiones-sesiones/"
                        >Tramisiones de las Sesiones en Vivo</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link nav-menu"
                        href="{{ SITEURL }}/ubicaciones-expedientes/"
                        >U. de Expedientes</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link nav-menu"
                        href="{{ SITEURL }}/sentencias/"
                        >V.P. de Sentencias</a
                    >
                </li>
            </ul>
        </div>
    </div>
</div>
